./mongodbdemo/target
./demo/target
./mongodbdemo/.settings
./demo/.settings
./spring-boot-starter-data-mongodb/.settings
./spring-boot-starter-data-mongodb/target
./spring-boot-starter-data-mongodb/.classpath
./spring-boot-starter-data-mongodb/.mvn
./accessing-data-mysql/target
./accessing-data-mysql/.classpath
./accessing-data-mysql/.mvn
./accessing-data-jpa/target
./accessing-data-jpa/.classpath
./accessing-data-jpa/.mvn
./accessing-data-rest/target
./accessing-data-rest/.classpath
./accessing-data-rest/.mvn
./tut-rest/target
./tut-rest/.classpath
./tut-rest/.settings
./tut-rest/.apt_generated
./tut-rest/.apt_generated_tests
./tut-rest/bin
./tut-rest/.gradle
./spring-persistence-simple/.classpath
./spring-persistence-simple/.gradle
./spring-persistence-simple/.settings
./spring-persistence-simple/bin
./spring-persistence-simple/bin/
spring-persistence-simple/bin
spring-persistence-simple/bin/
./spring-boot-2-jpa-with-hibernate-and-h2/.classpath
./spring-boot-2-jpa-with-hibernate-and-h2/.gradle
./spring-boot-2-jpa-with-hibernate-and-h2/.settings
./spring-boot-2-jpa-with-hibernate-and-h2/bin
./spring-boot-2-jpa-with-hibernate-and-h2/bin/
spring-boot-2-jpa-with-hibernate-and-h2/bin




